scopeName: 'source.pulsar-syntax'
name: 'Pulsar Syntax'
fileTypes: [
  'pulsar-syntax'
]

patterns: [
  {
    match: '\\bLanguage Pulsar Syntax\\b'
    name: 'keyword.control'
  }
  {
    match: '# [^\\n]*',
    name: 'comment'
  }

  {
    match: 'comment {{[^}\\n]*?}}'
    name: 'comment'
  }
  {
    match: 'comment.line {{[^}\\n]*?}}'
    name: 'comment.line'
  }
  {
    match: 'comment.line.double-slash {{[^}\\n]*?}}'
    name: 'comment.line.double-slash'
  }
  {
    match: 'comment.line.double-dash {{[^}\\n]*?}}'
    name: 'comment.line.double-dash'
  }
  {
    match: 'comment.line.number-sign {{[^}\\n]*?}}'
    name: 'comment.line.number-sign'
  }
  {
    match: 'comment.line.percentage {{[^}\\n]*?}}'
    name: 'comment.line.percentage'
  }
  {
    match: 'comment.block {{[^}\\n]*?}}'
    name: 'comment.block'
  }
  {
    match: 'comment.block.documentation {{[^}\\n]*?}}'
    name: 'comment.block.documentation'
  }
  {
    match: 'constant {{[^}\\n]*?}}'
    name: 'constant'
  }
  {
    match: 'constant.numeric {{[^}\\n]*?}}'
    name: 'constant.numeric'
  }
  {
    match: 'constant.character {{[^}\\n]*?}}'
    name: 'constant.character'
  }
  {
    match: 'constant.character.escape {{[^}\\n]*?}}'
    name: 'constant.character.escape'
  }
  {
    match: 'constant.language {{[^}\\n]*?}}'
    name: 'constant.language'
  }
  {
    match: 'constant.other {{[^}\\n]*?}}'
    name: 'constant.other'
  }
  {
    match: 'entity {{[^}\\n]*?}}'
    name: 'entity'
  }
  {
    match: 'entity.name {{[^}\\n]*?}}'
    name: 'entity.name'
  }
  {
    match: 'entity.name.function {{[^}\\n]*?}}'
    name: 'entity.name.function'
  }
  {
    match: 'entity.name.type {{[^}\\n]*?}}'
    name: 'entity.name.type'
  }
  {
    match: 'entity.name.tag {{[^}\\n]*?}}'
    name: 'entity.name.tag'
  }
  {
    match: 'entity.name.section {{[^}\\n]*?}}'
    name: 'entity.name.section'
  }
  {
    match: 'entity.other {{[^}\\n]*?}}'
    name: 'entity.other'
  }
  {
    match: 'entity.other.inherited-class {{[^}\\n]*?}}'
    name: 'entity.other.inherited-class'
  }
  {
    match: 'entity.other.attribute-name {{[^}\\n]*?}}'
    name: 'entity.other.attribute-name'
  }
  {
    match: 'invalid {{[^}\\n]*?}}'
    name: 'invalid'
  }
  {
    match: 'invalid.illegal {{[^}\\n]*?}}'
    name: 'invalid.illegal'
  }
  {
    match: 'invalid.deprecated {{[^}\\n]*?}}'
    name: 'invalid.deprecated'
  }
  {
    match: 'keyword {{[^}\\n]*?}}'
    name: 'keyword'
  }
  {
    match: 'keyword.control {{[^}\\n]*?}}'
    name: 'keyword.control'
  }
  {
    match: 'keyword.operator {{[^}\\n]*?}}'
    name: 'keyword.operator'
  }
  {
    match: 'keyword.other {{[^}\\n]*?}}'
    name: 'keyword.other'
  }
  {
    match: 'markup {{[^}\\n]*?}}'
    name: 'markup'
  }
  {
    match: 'markup.underline {{[^}\\n]*?}}'
    name: 'markup.underline'
  }
  {
    match: 'markup.underline.link {{[^}\\n]*?}}'
    name: 'markup.underline.link'
  }
  {
    match: 'markup.bold {{[^}\\n]*?}}'
    name: 'markup.bold'
  }
  {
    match: 'markup.heading {{[^}\\n]*?}}'
    name: 'markup.heading'
  }
  {
    match: 'markup.italic {{[^}\\n]*?}}'
    name: 'markup.italic'
  }
  {
    match: 'markup.list {{[^}\\n]*?}}'
    name: 'markup.list'
  }
  {
    match: 'markup.list.numbered {{[^}\\n]*?}}'
    name: 'markup.list.numbered'
  }
  {
    match: 'markup.list.unnumbered {{[^}\\n]*?}}'
    name: 'markup.list.unnumbered'
  }
  {
    match: 'markup.quote {{[^}\\n]*?}}'
    name: 'markup.quote'
  }
  {
    match: 'markup.raw {{[^}\\n]*?}}'
    name: 'markup.raw'
  }
  {
    match: 'markup.other {{[^}\\n]*?}}'
    name: 'markup.other'
  }
  {
    match: 'meta {{[^}\\n]*?}}'
    name: 'meta'
  }
  {
    match: 'storage {{[^}\\n]*?}}'
    name: 'storage'
  }
  {
    match: 'storage.type {{[^}\\n]*?}}'
    name: 'storage.type'
  }
  {
    match: 'storage.modifier {{[^}\\n]*?}}'
    name: 'storage.modifier'
  }
  {
    match: 'string {{[^}\\n]*?}}'
    name: 'string'
  }
  {
    match: 'string.quoted {{[^}\\n]*?}}'
    name: 'string.quoted'
  }
  {
    match: 'string.quoted.single {{[^}\\n]*?}}'
    name: 'string.quoted.single'
  }
  {
    match: 'string.quoted.double {{[^}\\n]*?}}'
    name: 'string.quoted.double'
  }
  {
    match: 'string.quoted.triple {{[^}\\n]*?}}'
    name: 'string.quoted.triple'
  }
  {
    match: 'string.quoted.other {{[^}\\n]*?}}'
    name: 'string.quoted.other'
  }
  {
    match: 'string.unquoted {{[^}\\n]*?}}'
    name: 'string.unquoted'
  }
  {
    match: 'string.interpolated {{[^}\\n]*?}}'
    name: 'string.interpolated'
  }
  {
    match: 'string.regexp {{[^}\\n]*?}}'
    name: 'string.regexp'
  }
  {
    match: 'string.other {{[^}\\n]*?}}'
    name: 'string.other'
  }
  {
    match: 'support {{[^}\\n]*?}}'
    name: 'support'
  }
  {
    match: 'support.function {{[^}\\n]*?}}'
    name: 'support.function'
  }
  {
    match: 'support.class {{[^}\\n]*?}}'
    name: 'support.class'
  }
  {
    match: 'support.type {{[^}\\n]*?}}'
    name: 'support.type'
  }
  {
    match: 'support.constant {{[^}\\n]*?}}'
    name: 'support.constant'
  }
  {
    match: 'support.variable {{[^}\\n]*?}}'
    name: 'support.variable'
  }
  {
    match: 'support.other {{[^}\\n]*?}}'
    name: 'support.other'
  }
  {
    match: 'variable {{[^}\\n]*?}}'
    name: 'variable'
  }
  {
    match: 'variable.parameter {{[^}\\n]*?}}'
    name: 'variable.parameter'
  }
  {
    match: 'variable.language {{[^}\\n]*?}}'
    name: 'variable.language'
  }
  {
    match: 'variable.other {{[^}\\n]*?}}'
    name: 'variable.other'
  }
]
